@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    background: pink;
    color: red;
    margin-top: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

#holder {
    align-content: center;
    text-align: center;
    color: #ff5e00;
    border: 0px;
    margin-top: 20px;
}

h1 {
    border: 0px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;

}



input {
    border: 2px;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    padding: 3px;
    background: #778899;
}

button {
    border: 2px;
    border-radius: 4px;
    width: 250px;
    height: 35px;
    background:green;
    padding: 3px;
    color: #232B2B;
    font-size: 22px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: antiquewhite;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: antiquewhite;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: antiquewhite;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: antiquewhite;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}