
#holder {
    font-family: 'Quattrocento Sans', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    letter-spacing: 8px;
    font-size: 34px;
    text-align: center;
    align-content: center;
}
.day,.month,.dayOfMonth,.year{
    float: left;
}

.hours,.minutes,.seconds,.ampm{
    float: left;
    text-align: center;
    width:170px;
}
.date{
    transform: translateX(5%) translateY(-50%);
    text-align: center;
    align-content: center;
}
.time{
    align-content: center;
    text-align: center;
    font-size: 63px;
}
