@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    background: pink;
    color: green;
    margin-top: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    align-content: center;
}
.imageHolder{
    height: 400px;
    width: 600px;
}
#holder {
    align-content: center;
    margin: auto 300px;
    color: #ff5e00;
    border: 0px;
    margin-top: 20px;
}
#holder > div{
    float: left;
}

h1 {
    border: 0px;
    margin: 20px 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;

}

button {
    float: left;
    width: 40px;
    border: 2px;
    border-radius: 4px;
    height: 400px;
    background:rgba(35,43,43,0.2);
    padding: 3px;
    color: aliceblue;
    font-size: 40px;
}

